body{
   margin: 0px ;
}
h1 {
   background-color: rgb(36, 36, 138);
   color: white;
   font-weight: 10px;
   font-size: 45px;
   text-align: center;
   width: 100%;
   padding: 20px 0px;
   margin: 0px;
}
#description {
   font-size: 25px;
   padding: 15px;
   background-color: wheat;
   margin: 0px;
   
}
.test-area {
   text-align: center;
   margin: auto;
}
#original-text {
   border: 2px solid black;
   max-width: 600px;
   margin: 10px auto;
   font-size: 20px;
   background-color: cornsilk;
   padding: 15px;
   border-radius: 5px;
}

.test-wrapper {
   height: 200%;
   display: flex;
   margin: 25px 0px;
}
#text-area {
   flex: 1;
   max-width: 620px;
   margin: auto;
   border: 10px solid gray;
   font-size: 18px;
   padding: 10px;
   border-radius: 5px;
}

#bottom {
   margin-top: 1em;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: auto;
   max-width: 600px;
}

#timer {
   font-size: 30px;
   font-weight: bolder;
   padding-top: 10px;
}

#reset {
   padding: .5em 1em;
   font-size: 1.2em;
   font-weight: bold;
   color: #E95D0F;
   background: white ;
   border: 10px solid #E95D0F;
}

#reset:hover {
   color: white;
   background-color: #E95D0F;
}


